{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
  <div class="container-general pt-12">
    <div class="container pt-3">
      <div class="row">
        <!-- ##### ARTICLE ##### -->
        <div class="col-md-8 px-0 px-sm-3">
            <h1 class="use-text-primary use-text-bold mb-3">{{ diseases }}</h1>
          <div class="blog-style">            
            <article class="blog-content">
              {{diseases.content|safe}}
            </article>
          </div>
          <br><br><br>
          <div class="comment">
            <h1 class="use-text-primary use-text-bold mb-3">Related Discussion</h1>
            <a class="btn waves-effect primary show-sm-up" href="{% url 'create_question_diseases' diseases.slug  %}">Ask a question</a>
            <div class="collection border-0">
              <div class="comments-style">
                {% for question in questions  %}
                <div class="comment-list">
                  <div class="collection-item avatar">
                    <img class="circle" src="{{ question.user.profile.profile_pic }}" alt="John Doe" /> 
                    <a href="{% url 'answer_question_diseases'  question.id %}">
                      <span class="title font-weight-medium">{{ question.title }}</span>
                    </a>
                    <div>
                      <span class="caption"> Oleh {{ question.user.username }}  {{ question.created_at }}</span>
                      <p class="mt-2"> </p>
                    </div>
                  </div>
                  <div class="testimonial-card">
                    <p class="text">{{ question.question|safe }}</p>
                  </div>
                  <hr class="divider" />
                </div>
                {% endfor %}
              </div>
              <a class="btn waves-effect primary show-sm-up" href="{% url 'list_question_diseases' diseases.slug  %}">Next >></a>
            </div>
          </div>
        </div>
        <!-- ##### EMD ARTICLE ##### -->
        <!-- ##### SIDEBAR ##### -->
        <div class="col-md-4 px-0 px-sm-3">
          <div class="blog-style">
            <div class="sidebar">
              <div class="py-3"></div>
              <div class="card paper">
                <header>
                  <div class="icon">
                    <i class="material-icons small">account_circle</i>
                  </div>
                  <div class="card-content">
                    <span class="card-title">About Us</span></p>
                  </div>
                </header>
                <div class="content">
                  <div>
                    <ul class="collection">
                      <li class="collection-item avatar">
                        <i class="circle icon primary material-icons grey lighten-3">fiber_manual_record</i> <span class="use-text-medium">Disease Prevention</span><p>{{ diseases.disease_prevention}}</p>
                      </li>
                      <li class="collection-item avatar">
                        <i class="circle icon primary material-icons grey lighten-3">fiber_manual_record</i> <span class="use-text-medium">Description</span><p>{{ diseases.description}}</p>
                      </li>
                      <li class="collection-item avatar">
                        <i class="circle icon primary material-icons grey lighten-3">fiber_manual_record</i> <span class="use-text-medium">Medicine</span><p>{{ diseases.medicine}}</p>
                      </li>
                      <li class="collection-item avatar">
                        <i class="circle icon primary material-icons grey lighten-3">fiber_manual_record</i> <span class="use-text-medium">Diagnose</span><p>{{ diseases.diagnose}}</p>
                      </li>
                      <li class="collection-item avatar">
                        <i class="circle icon primary material-icons grey lighten-3">fiber_manual_record</i> <span class="use-text-medium">Lab Check</span><p>{{ diseases.lab_check}}</p>
                      </li>
                      <li class="collection-item avatar">
                        <i class="circle icon primary material-icons grey lighten-3">fiber_manual_record</i> <span class="use-text-medium">Caouse of disease</span><p>{{ diseases.cause_of_disease}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="py-3"></div>
              <div class="card paper">
                <header>
                  <div class="icon">
                    <i class="material-icons small">bookmark</i>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Latest Post</span>
                  </div>
                </header>
                <div class="content">
                  <div>
                    <div class="collection">
                      {% for item in latest_post  %}
                      <a class="waves-effect collection-item" href="{% url 'diseases-detail' item.slug %}">
                        <span class="d-block">{{ item.disease_name }}</span>
                        <span class="caption">{{ item.created_at }}</span>
                      </a>
                      {% endfor %}                      
                    </div><a href="{% url 'diseases' %}" class="btn waves-effect btn-flat primary-text block">see all</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ##### END SIDEBAR ##### -->
      </div>
    </div>
  </div>
{% endblock %}
