{% load static %}
{% load costom_tag %}

<!-- #### HEADER ####-->
<div class="sidenav mobile-nav" id="slide_menu">
    <div class="side-multilv">
      <div class="collection side-multilv">
        <ul class="collapsible expandable">
          <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="/">Home</a></li>
          <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="{% url 'diseases' %}">Infectious Diseases</a></li>
          <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="{% url 'article' %}">Article</a></li>
          <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="{% url 'report' %}">Reports</a></li>
          <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="{% url 'book' %}">Books</a></li>
          <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="{% url 'news' %}">News</a></li>
        </ul>
      </div>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <header class="app-bar header" id="header">
    <div class="container">
      <div class="header-content">
        <nav class="nav-menu"><button class="btn-icon waves-effect sidenav-trigger hamburger hamburger--spin show-md-down" id="mobile_menu" type="button" data-target="slide_menu"><span class="hamburger-box"><span class="bar hamburger-inner"></span></span></button>
          <div class="header-hamburger header-component"><button class="btn-icon waves-effect hamburger hamburger--spin mobile-menu" id="hamburger_menu"><span class="hamburger-box"><span class="bar hamburger-inner"></span></span></button></div>
          <div class="logo"><a href="#"><span class="logo-main landscape medium"><img src="{% static '/assets/images/logo-medical.png' %}" alt="logo">IDRTROPIDS</span></a></div>
          <div class="header-mixed header-component flex-grow-1 active">
            <div class="scrollactive-nav scrollnav show-lg-up multi-menu">
              <ul class="main-menu">
                <li><a class="btn btn-flat anchor-link waves-effect" href="/">Home</a></li>
                <li><a class="btn btn-flat anchor-link waves-effect" href="{% url 'diseases' %}">Infectious Diseases</a></li>
                <li><a class="btn btn-flat anchor-link waves-effect" href="{% url 'article' %}">Article</a></li>
                <li><a class="btn btn-flat anchor-link waves-effect" href="{% url 'report' %}">Reports</a></li>
                <li><a class="btn btn-flat anchor-link waves-effect" href="{% url 'book' %}">Books</a></li>
                <li><a class="btn btn-flat anchor-link waves-effect" href="{% url 'news' %}">News</a></li>
              </ul>
            </div>
          </div>
          <div class="hidden-xs-down">
            <div class="search short">
              <div class="input-field">
                <i class="material-icons search-icon prefix">search</i> 
                <input type="text" placeholder="I'm looking for...">
              </div>
            </div>
          </div>
          <div class="header-hamburger header-component flex-grow-1"></div>
          <div class="header-basic header-component flex-grow-1"></div>
          <div class="menu-setting">
            <div class="setting">
              <button class="btn btn-icon waves-effect btn-small dropdown-trigger ma-1" data-target="dropdown_config" data-align="left" type="button"><i class="icon material-icons" id="setting_icon">settings</i></button><div class="dropdown-content setting" id="dropdown_config" tabindex="0" style="">
                <ul class="collection with-header" tabindex="0">
                  <li class="collection-header">theme mode</li>
                  <li class="collection-item no-hover pl-4">
                    <div class="flex-menu">
                      <div class="switch">
                        <label>light<input id="theme_switcher" type="checkbox" /><span class="lever"></span> dark</label>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="dropdown-divider" tabindex="0"></div>
                <ul class="collection with-header lang-menu" id="lang_menu" tabindex="0">
                  {% if user.is_authenticated %}
                  <li class="collection-item lang-list waves-effect avatar">
                    <a href="{% url 'contributor_profile' %}">
                      <div class="circle">
                        <i class="">
                          <span class="material-symbols-outlined">account_box</span>
                        </i>
                      </div>
                      <span class="content  text-truncate">Profile</span>
                    </a>
                  </li>

                  <li class="collection-item lang-list waves-effect avatar">
                    <a href="{% url 'account_logout' %}">
                      <div class="circle">
                        <i class="">
                          <span class="material-symbols-outlined">logout</span>
                        </i>
                      </div>
                      <span class="content  text-truncate">Logout</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="collection-item lang-list waves-effect avatar">
                    <a href="/accounts/google/login/">
                      <div class="circle">
                        <i class="">
                          <span class="material-symbols-outlined">login</span>
                        </i>
                      </div>
                      <span class="content text-truncate">Join</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div id="container_menu"></div>
      </div>
    </div>
    <div class="hidden-sm-up"><div class="search"><div class="input-field"><i class="material-icons search-icon prefix">search</i> <input type="text" placeholder="I'm looking for..."></div></div></div>
  </header>
  <div class="paper-nav" id="main_menu">
    <div class="full-nav">
      <div class="scrollactive-nav scrollnav">
        <ul class="menu">
          <li><a class="btn-flat waves-effect" href="#facility">Home</a></li>
          <li><a class="btn-flat waves-effect" href="#ask-doctors">Infectious Diseases</a></li>
          <li><a class="btn-flat waves-effect" href="#Article">Article</a></li>
          <li><a class="btn-flat waves-effect" href="#Reports">Reports</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- #### END HEADER ####-->
