{% load static %}
{% load costom_tag %}

<nav role="navigation" aria-label="Left Navigation Menu">
    <div class="nav-section-home d-sm-block">
        <span class="sr-only">home</span><span class="fi cdc-icon-home
            nav-home-icon x24" aria-hidden="true"></span><a
            href="">Heart Disease Home</a>
    </div>
    <ul id="nav-primary" class="list-group tp-nav-main">
        {% for item in costom_tag|get_disease %}
            <li class="list-group-item nav-lvl1">
                <a href="{% url 'detail' item.id %}">{{ item.disease.disease_name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
