{% load static %}
{% load costom_tag %}
<!-- #### SEARCH ####-->
<div class="hero-banner-wrap">
    <div class="deco-wrap">
      <div class="deco bottom s1">&nbsp;</div>
      <div class="deco top s1">&nbsp;</div>
    </div>
    <div class="container">
      <section class="search-banner">
        <div class="container max-md">
          <div class="row align-items-center justify-content-center">
            <col-sm-12>
              <h2 class="use-text-title2 text-center">Disease-related {{title}}</h2>
              <br>
              {% comment %} <h3 class="use-text-subtitle2 text-center">Browse over million all about disease. Quickly find whatever you want.</h3> {% endcomment %}
              <div class="">
                {% for item in costom_tag|get_category %}
                <a class="btn btn-outlined waves-effect primary show-sm-up" href="{% url url item.name %}">
                  <span class="hidden-xs-down">{{item.name}}</span>
                </a>
                {% endfor %}  
              </div>
            </col-sm-12>
          </div>
        </div>
      </section>
    </div>
  </div>