{% extends 'layouts/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container container-front">
  <div class="container-wrap">
    <div class="search-content">
      <div>
        <div class="">
          <div class="space-top-short" id="post_p">
            <h4 class="use-text-subtitle use-text-primary mb-3 ms-3">Contributors</h4>
            <!-- #### LIST Contributors ####-->
            <div class="massonry">
                <div class="row">
                  <div class="col-sm-6 px-lg-4 px-3 py-3">
                    <div class="wow fadeInUpShort" data-wow-delay="0s" data-wow-duration="0.4s">
                      <div class="card doctor-card">
                        <div class="person">
                          <div class="avatar-img avatar"><img src="https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/f1_bep9vx.jpg" alt="Jena Doe"></div>
                          <div class="name">
                            <h4>dr.Jena Doe</h4>
                            <p>Pediatric Surgeon</p>
                          </div>
                        </div>
                        <hr class="divider">
                        <div class="action">
                          <div class="property"><span><i class="ion-thumbsup"></i>&nbsp; 95%</span><span><i class="ion-briefcase"></i>&nbsp; 4 Years</span></div></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 px-lg-4 px-3 py-3">
                    <div class="wow fadeInUpShort" data-wow-delay="0s" data-wow-duration="0.4s">
                      <div class="card doctor-card">
                        <div class="person">
                          <div class="avatar-img avatar"><img src="https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/f1_bep9vx.jpg" alt="Jena Doe"></div>
                          <div class="name">
                            <h4>dr.Jena Doe</h4>
                            <p>Pediatric Surgeon</p>
                          </div>
                        </div>
                        <hr class="divider">
                        <div class="action">
                          <div class="property"><span><i class="ion-thumbsup"></i>&nbsp; 95%</span><span><i class="ion-briefcase"></i>&nbsp; 4 Years</span></div></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 px-lg-4 px-3 py-3">
                    <div class="wow fadeInUpShort" data-wow-delay="0s" data-wow-duration="0.4s">
                      <div class="card doctor-card">
                        <div class="person">
                          <div class="avatar-img avatar"><img src="https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/f1_bep9vx.jpg" alt="Jena Doe"></div>
                          <div class="name">
                            <h4>dr.Jena Doe</h4>
                            <p>Pediatric Surgeon</p>
                          </div>
                        </div>
                        <hr class="divider">
                        <div class="action">
                          <div class="property"><span><i class="ion-thumbsup"></i>&nbsp; 95%</span><span><i class="ion-briefcase"></i>&nbsp; 4 Years</span></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- #### END LIST ####-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
