{% extends 'admin/layout/main.html' %}
{% load static %}
{% load humanize %}

{% block page_header %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                    {{ title }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
<div class="container-xl">
    <h5 class="mt-4 mb-2">Pertanyaan</h5>
    <div class="card card-widget">
        <div class="card-header">
            <div class="user-block">
                <img class="img-circle" src="{{ question.user.profile.profile_pic.url }}" alt="User Image" />
                <span class="username"><a href="#">{{ question.user.profile.full_name }}</a></span>
                <span class="description">{{ question.created_at|naturaltime }}</span>
            </div>
        </div>
    
        <div class="card-body" style="display: block;">
            <strong>{{ question.title|safe }}</strong> <hr>
            {{ question.question|safe }}
        </div>
    
    </div>
    <hr>
      
    <h5 class="mt-4 mb-2">Jawaban</h5>
    {% for item in answer  %}
        <div class="card card-widget">
            <div class="card-header">
                <div class="user-block">
                    <img class="img-circle" src="{{ item.author.profile.profile_pic.url }}" alt="User Image" />
                    <span class="username"><a href="#">{{ item.author.profile.full_name }}</a></span>
                    <span class="description">{{ item.created_at|naturaltime }}</span>
                </div>
            </div>
        
            <div class="card-body" style="display: block;">
                {{ item.answer|safe }}    
            </div>
        </div>
    {% endfor %}

    
</div>

{% endblock  %}