{% extends 'admin/layout/main.html' %}
{% load static %}
{% block css %}{{ form.media.css }}{% endblock %}
{% block content %}

<section id="content" class="content">
    <div class="row">
        <div id="content-main" class="col-12">
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="card-title">{{ card_title }}</div>
                            </div>
                            <div class="card-body">
                                {% for fields in form.visible_fields %}
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-2 text-left"  for="{{ fields.label_tag.id }}">
                                                {{ fields.label_tag }}
                                                {% if fields.field.required %}<span class="text-red">*</span>{% endif %}
                                            </label>
                                            <div class="col-sm-10">
                                                {{ fields.help_text }}
                                                    <span class="text-red">{{ fields.errors }}</span>
                                                {{ fields }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- action -->
                    <div class="col-12 col-lg-3">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit"></i>
                                    Actions
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="submit"
                                            value="Save"
                                            class="btn btn-outline-success form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock  %}

{% block js %}
{{ form.media.js }}
{% endblock  %}