<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="widget-user-image">
                {% if request.user.profile.profile_pic %}
                    <img class="img-circle elevation-2" src="{{ request.user.profile.profile_pic.url }}" alt="User Avatar">
                {% else %}
                    <img class="img-circle elevation-2" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="User Avatar">
                {% endif %}
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <li class="nav-item">
                        <a href="{% url 'contributor_list_diseases' %}" class="nav-link">
                            <i class="nav-icon fa fa-book"></i>
                        <p>
                            Infectious Diseases
                        </p>
                        </a>
                    </li>
                </li>
                
                <li class="nav-item menu-open">
                    <li class="nav-item">
                        <a href="{% url 'contributor_list_book' %}" class="nav-link">
                            <i class="nav-icon fa fa-book"></i>
                        <p>
                        Books
                        </p>
                        </a>
                    </li>
                </li>

                <li class="nav-item menu-open">
                    <li class="nav-item">
                        <a href="{% url 'contributor_list_article' %}" class="nav-link">
                            <i class="nav-icon fa fa-book"></i>
                        <p>
                        Article
                        </p>
                        </a>
                    </li>
                </li>

                <li class="nav-item menu-open">
                    <li class="nav-item">
                        <a href="{% url 'contributor_list_report' %}" class="nav-link">
                            <i class="nav-icon fa fa-file"></i>
                        <p>
                        Reports
                        </p>
                        </a>
                    </li>
                </li>

                <li class="nav-item menu-open">
                    <li class="nav-item">
                        <a href="{% url 'contributor_list_news' %}" class="nav-link">
                            <i class="nav-icon fa fa-newspaper"></i>
                        <p>
                        News
                        </p>
                        </a>
                    </li>
                </li>

                <li class="nav-item menu-open">
                    <li class="nav-item">
                        <a href="{% url 'list_question' %}" class="nav-link">
                            <i class="nav-icon fa fa-comment"></i>
                        <p>
                        Diskusi
                        </p>
                        </a>
                    </li>
                </li>

            </ul>
        </nav>

    </div>
</aside>