<html>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script>
            function handleCredentialResponse(response) {
                $.ajax({
                    type: 'POST',
                    url: '/api/v1/auth/login/',
                    headers: {
                       'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/JSON; charset=utf-8',
                    data: JSON.stringify({'auth_token': response.credential})
                 });
            }
            window.onload = function () {
            google.accounts.id.initialize({
                client_id: "1043339594187-t7qftsu8gj7vjgrs3usuje92n6l19kl3.apps.googleusercontent.com",
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById("buttonDiv"),
                { theme: "outline", size: "large" }  // customization attributes
            );
            google.accounts.id.prompt(); // also display the One Tap dialog
            }
        </script>
        <div id="buttonDiv"></div> 
    </body>
</html>