{% extends 'layouts/main.html' %}
{% load static %}
{% load humanize %}


{% block content %}
	<!-- ##### BANNER #####-->
	<section id="banner">
		<div class="banner-slider">
		  <div class="banner-wrap">
			<div class="carousel slide" data-bs-ride="carousel">
			  <div class="slider-deco" id="slider_deco">
				<div class="slide">
				  <div class="inner">
					<div class="deco-wrap">
					  <div class="deco bottom s1">&nbsp;</div>
					  <div class="deco top s1">&nbsp;</div>
					</div>
				  </div>
				</div>
				<div class="slide">
				  <div class="inner">
					<div class="deco-wrap">
					  <div class="deco bottom s2">&nbsp;</div>
					  <div class="deco top s2">&nbsp;</div>
					</div>
				  </div>
				</div>
				<div class="slide">
				  <div class="inner">&nbsp;</div>
				</div>
			  </div>
			  <div class="slider" id="banner_slider">
				<div class="slide" id="slide1">
				  <div class="inner">
					<div class="img background-banner"><img class="img-2d3d" src="https://res.cloudinary.com/skyrev/image/upload/v1613843545/skyrev/medical/background_3d_2x_aq4umx.png" data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613843545/skyrev/medical/background_2d_2x_h9lqd2.png" data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613843545/skyrev/medical/background_3d_2x_aq4umx.png" alt="background"></div>
					<div class="container">
					  <div class="row">
						<div class="col-md-7 col-lg-6 px-sm-6 px-0 d-flex align-items-center">
						  <div class="text">
							<h4 class="use-text-title">IDRTROPIDS Tropical Infection Disease</h4>
							<h5 class="use-text-subtitle">Your one stop disease information.</h5>
							<div class="btn-area"><a class="btn-flat waves-effect btn-large button primary use-text-secondary" href="#">see detail</a> <a class="btn waves-effect button btn-large primary" href="/accounts/google/login/">get started</a></div>
						  </div>
						</div>
						<div class="col-md-5 col-lg-6">
						  <div class="img"><img class="img-2d3d" src="https://res.cloudinary.com/skyrev/image/upload/v1613843545/skyrev/medical/banner1_3D_2x_y2cary.png" data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613843544/skyrev/medical/banner1_2D_2x_qznels.png" data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613843545/skyrev/medical/banner1_3D_2x_y2cary.png" alt="banner 1 3D"></div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="slide" id="slide2">
				  <div class="inner">
					<div class="container">
					  <div class="row">
						<div class="col-md-7 col-lg-6 px-sm-6 px-0 d-flex align-items-center order-md-last">
						  <div class="text">
							<h4 class="use-text-title">IDRTROPIDS Tropical Infection Disease</h4>
							<h5 class="use-text-subtitle">Your one stop disease information.</h5>
							<div class="btn-area"><a class="btn-flat waves-effect btn-large button primary use-text-secondary" href="#">see detail</a> <a class="btn waves-effect button btn-large primary" href="register.html">get started</a></div>
						  </div>
						</div>
						<div class="col-md-5 col-lg-6 order-md-first">
						  <div class="img"><img class="img-2d3d mq-lg-up" src="https://res.cloudinary.com/skyrev/image/upload/v1613843545/skyrev/medical/banner2_3D_2x_wa7zml.png" data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613843544/skyrev/medical/banner2_2D_2x_sjhh6y.png" data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613843545/skyrev/medical/banner2_3D_2x_wa7zml.png" alt="banner 2 3D" data-class="float-right mr-sm-12"></div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="slide center-content" id="slide3">
				  <div class="inner">
					<div class="container max-md">
					  <div class="row justify-content-center">
						<div class="col-xs-12 px-md-12">
						  <div class="text text-center">
							<h4 class="use-text-title">IDRTROPIDS Tropical Infection Disease</h4>
							<h5 class="use-text-subtitle">Your one stop disease information.</h5>
							<div class="btn-area"><a class="btn-flat waves-effect btn-large button primary use-text-secondary" href="#">see detail</a> <a class="btn waves-effect button btn-large primary" href="register.html">get started</a></div>
						  </div>
						</div>
						<div class="col-12">
						  <div class="img h-banner"><img class="img-2d3d" src="https://res.cloudinary.com/skyrev/image/upload/v1613843546/skyrev/medical/banner3_3D_2x_zkgpnl.png" data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613843546/skyrev/medical/banner3_2D_2x_yrejyj.png" data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613843546/skyrev/medical/banner3_3D_2x_zkgpnl.png" alt="banner 3 3D"></div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="search-component">
			  <div class="container max-md">
				  <div class="search">
					<div class="input-field">
						<form action="{% url 'search' %}" method="GET">
							<i class="material-icons search-icon prefix">search</i> 
							<input type="text" name="keyword" placeholder="Search whatever you want...">
						</form>
					</div>
				  </div>
			  </div>
			</div>
		  </div>
		</div>
	</section>
	<!-- ##### END BANNER #####-->
	<!-- ##### COUNTER #####-->
	<section class="space-top space-top-short-xs" id="about">
		<div class="counter-wrap">
		<div class="container max-lg">
			<div class="row justify-content-center align-items-center">
			<div class="col-sm-4 col-lg-3 px-6">
				<div class="counter-item"><span class="icon ion-ios-medical-outline use-text-primary-color"></span>
				<div class="text">
					<h4>+<span class="numscroller" data-min="0" data-max="{{ diseases_count }}" data-delay="5" data-increment="8">&nbsp;</span></h4>
					<h6 class="use-text-subtitle">Disease</h6>
				</div>
				</div>
				<p class="text-center">Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam.</p>
			</div>
			<div class="col-sm-4 col-lg-3 px-6">
				<div class="counter-item"><span class="icon ion-ios-bookmarks-outline use-text-primary-color"></span>
				<div class="text">
					<h4>+<span class="numscroller" data-min="0" data-max="{{ book_count }}" data-delay="5" data-increment="8">&nbsp;</span></h4>
					<h6 class="use-text-subtitle">Books</h6>
				</div>
				</div>
				<p class="text-center">Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam.</p>
			</div>
			<div class="col-sm-4 col-lg-3 px-6">
				<div class="counter-item"><span class="icon ion-ios-people-outline use-text-primary-color"></span>
				<div class="text">
					<h4>+<span class="numscroller" data-min="0" data-max="{{ user_count }}" data-delay="5" data-increment="8">&nbsp;</span></h4>
					<h6 class="use-text-subtitle">Kontributor</h6>
				</div>
				</div>
				<p class="text-center">Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam.</p>
			</div>
			</div>
		</div>
		</div>
	</section>

	<!-- ##### END COUNTER #####-->
	<!-- ##### FEATURED ARTICLE #####-->
	<section class="space-top-short" id="facility">
		<div class="root">
		<div class="container carousel-header">
			<div class="text">
			<h4 class="use-text-title">Featured Article</h4>
			</div><a class="btn-flat primary-text waves-effect view-all" href="{% url 'article' %}">see all<i class="material-icons icon">arrow_forward</i></a></div>
		<div class="carousel-handle">
			<div class="carousel-wrap">
			<div class="carousel" id="facilities_carousel" data-length="6">
				<div class="item carousel-prop show-lg-up">
					<div></div>
				</div>
				{% for item in artikel  %}
				<div class="item">
					<div class="card facility-card">
						{% comment %} <figure><img src="https://res.cloudinary.com/imajin/image/upload/v1591430109/medical/clinic_mptn6n.jpg" alt="img"></figure> {% endcomment %}
						<figure><img src="{{ item.thumbnail.url }}" alt="img"></figure>
						<div class="text">
							<h6>{{ item.title|truncatechars:50 }}</h6>
							{% comment %} {{ item.abstract|safe|truncatechars:50 }} {% endcomment %}
							{{ item.visits }} views {{ item.created_at|naturaltime }} 
						</div>
						<a class="btn waves-effect block secondary button" href="{% url 'detail-article' item.slug %}">See Detail</a>
					</div>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="floating-artwork">
			<div class="container fixed-width">
			<div class="artwork">
				<div class="slider-art">
				<div class="deco">
					<div class="figure show-lg-up" id="art_facilities">
					<div class="wow fadeInLeftShort" data-wow-offset="250" data-wow-delay="0.3s" data-wow-duration="0.5s">
						<div><img class="img-2d3d" src="https://res.cloudinary.com/skyrev/image/upload/v1613843547/skyrev/medical/facility_3d_2x_mnyyo3.png" data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613843546/skyrev/medical/facility_2d_2x_hspjrv.png" data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613843547/skyrev/medical/facility_3d_2x_mnyyo3.png" alt="facilities"></div>
					</div>
					</div>
				</div>
				</div>
				<nav class="arrow"><button class="btn-floating margin" id="prev_facility"><i class="material-icons">arrow_back</i></button> <button class="btn-floating margin" id="next_facility"><i class="material-icons">arrow_forward</i></button></nav>
			</div>
			</div>
		</div>
		</div>
	</section>
	<!-- ##### END FEATURED ARTICLE #####-->
	<!-- ##### BOOKS #####-->
	<section class="space-top" id="speciality">
		<div class="root">
		<div class="container">
			<div class="row spacing8">
			<div class="col-md-6 px-sm-12">
				<h4 class="use-text-title">Temukan Buku rujukan terpercaya</h4>
				<p class="desc use-text-subtitle2">The doctors at The Online Clinic are all registered on the General Medical Council.</p>
				<a class="btn waves-effect button btn-large primary" href="{% url 'book' %}" tabindex="-1">Explore Book</a>
			</div>
			<div class="col-md-6 px-6 show-sm-up">
				<div class="circle-wave">
				<div class="ball"><img class="img-2d3d" src="https://res.cloudinary.com/skyrev/image/upload/v1613843562/skyrev/medical/speciality_3d_2x_b3uacc.png" data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613843562/skyrev/medical/speciality_2d_2x_xtrjgw.png" data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613843562/skyrev/medical/speciality_3d_2x_b3uacc.png" alt="speciality 3d"></div>
				</div>
				<div class="wow zoomInShort" data-wow-offset="0" data-wow-delay="0.3s" data-wow-duration="0.3s">
				<div class="illustration-wrap">
					<div><span class="icon-green"></span></div>
					<div><span class="icon-red"></span></div>
					<div><span class="icon-blue"></span></div>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	</section>
	<!-- ##### END BOOKS #####-->
	<!-- ##### ASK DOCTORS #####-->
	<!-- ##### END TESTIMONIALS #####-->
	<!-- ##### TESTIMONIALS #####-->
	{% comment %} <section class="space-top-short" id="testimonials">
		<!-- #### TESTIMONIALS ####-->
		<div class="root">
		<div class="container carousel-header">
			<div class="px-3">
			<h4 class="use-text-title text-capitalize">people testimonials</h4>
			<p class="use-text-subtitle2">Nam sollicitudin dignissim nunc, cursus ullamcorper eros vulputate sed.</p>
			</div>
		</div>
		<div class="carousel">
			<div class="slick-carousel" id="testimonial_carousel" data-length="9">
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Sed imperdiet enim ligula, vitae viverra justo porta vel.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon" title="5">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>John Doe</h6><span class="caption">Chief Digital Officer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon-disable" title="1">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>Jean Doe</h6><span class="caption">Chief Digital Officer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/women/8.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon-disable" title="1">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>Jena Doe</h6><span class="caption">Graphic Designer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/women/17.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Sed imperdiet enim ligula, vitae viverra justo porta vel.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon-disable" title="1">star</i><i class="material-icons star-icon-disable" title="2">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>Jovelin Doe</h6><span class="caption">Senior Graphic Designer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/women/90.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon" title="5">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>Jihan Doe</h6><span class="caption">CEO Software House</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/women/44.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon" title="5">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>Jovelin Doe</h6><span class="caption">Senior Graphic Designer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/men/75.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon-disable" title="1">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>John Doe</h6><span class="caption">Senior Graphic Designer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/men/4.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Sed imperdiet enim ligula, vitae viverra justo porta vel.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon" title="5">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>John Doe</h6><span class="caption">Chief Digital Officer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-card">
				<div class="card paper">
					<p>Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
					<div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon" title="4">star</i><i class="material-icons star-icon-disable" title="1">star</i></div>
				</div>
				<div class="person">
					<div class="name">
					<h6>Jean Doe</h6><span class="caption">Chief Digital Officer</span></div>
					<div class="avatar-img avatar"><img src="https://randomuser.me/api/portraits/women/8.jpg" alt="name"></div>
				</div>
				</div>
			</div>
			<div class="item show-lg-up">
				<div class="item-props-last"></div>
			</div>
			</div>
		</div>
		<div class="floating-artwork">
			<div class="container fixed-width">
			<div class="artwork">
				<div class="slider-art">
				<div class="deco">
					<div class="figure show-lg-up" id="art_testimonials">
					<div class="wow fadeInLeftShort" data-wow-offset="100" data-wow-delay="0.3s" data-wow-duration="0.5s"><img class="img-2d3d" src="https://res.cloudinary.com/skyrev/image/upload/v1613843563/skyrev/medical/testimonial_3d_2x_zvn2th.png" data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613843563/skyrev/medical/testimonial_2d_2x_tuz5dw.png" data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613843563/skyrev/medical/testimonial_3d_2x_zvn2th.png" alt="services 3d"></div>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
		<!-- #### END TESTIMONIALS ####-->
	</section> {% endcomment %}
	<!-- ##### END TESTIMONIALS #####-->
	<!-- ##### CALL ACTION #####-->
	<!-- ##### END CALL ACTION #####-->
	<!-- ##### CLINICS #####-->
	<section class="space-top-short space-bottom-short" id="clinics">
		<div class="root">
			<div class="container mq-md-up" data-class="fixed-width">
				<div class="pa-3">
					<h4 class="use-text-title text-capitalize">Forum diskusi</h4>
					<p class="use-text-subtitle2">Dapatkan informasi seputarkesehatan, kandungan, aturan, petunjuk penggunaan obat dan vitamin di sini</p>
				</div>
				<div class="comment">
					<a class="btn waves-effect primary show-sm-up" href="{% url 'create_diseases' %}">Ajukan Pertanyaan</a>
					<div class="collection border-0">
						<div class="comments-style">
							{% for question in questions  %}
							<div class="comment-list">
								<div class="collection-item avatar">
									<img class="circle" src="{{ question.user.profile.profile_pic.url }}" alt="John Doe" /> 
									<a href="{% url 'answer_question_diseases'  question.id %}">
										<span class="title font-weight-medium">{{ question.title }}</span>
									</a>
									<div>
										<span class="caption"> Oleh {{ question.user.username }}  {{ question.created_at }}</span>
										<p class="mt-2"> </p>
									</div>
								</div>
								<div class="testimonial-card">
									<p class="text">{{ question.question|safe }}</p>
								</div>
								<hr class="divider" />
							</div>
							{% endfor %}
						</div>
					</div>
			</div>
			</div>
		</div>
	</section>
	<!-- ##### END CLINICS #####-->

	<section class="space-top">
		<div class="call-to-action">
			<div class="container fixed-width-md-up">
				<div class="root">
					<div class="wow fadeInUpShort" data-wow-offset="40" data-wow-delay="0.3s" data-wow-duration="0.5s">
						<div class="card paper">
							<div class="row align-items-center">
								<div class="col-md-8 px-sm-6">
									<h4 class="use-text-title2 pb-2">Berminat untuk menjadi kontributor kami?</h4>
									<p>Let's contribute. We make it simple to get healthcare whenever and wherever you want</p>
								</div>
								<div class="col-md-4 px-sm-0">
									<div class="d-flex align-items-center justify-content-center">
										<a class="waves-effect btn button white block" href="/accounts/google/login/">Daftar jadi kontributor!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	{% endblock  %}