{% extends 'layouts/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container container-front">
    <div class="container-wrap">
        <br><br><br><br>
        <div class="hero-banner-wrap">
            <div class="deco-wrap">
                <div class="deco bottom s1">&nbsp;</div>
                <div class="deco top s1">&nbsp;</div>
            </div>
        </div>
        <div class="comment">
            <h1 class="use-text-primary use-text-bold mb-3">Diskusi Terkait {{ diseases }}</h1>
            <div class="collection border-0">
                <div class="comments-style">
                    <div class="comment-list">
                        <div class="collection-item avatar">
                            <img class="circle" src="{{ question.user.profile.profile_pic.url }}" alt="John Doe" /> 
                            <span class="title font-weight-medium">{{ question.title }}</span>
                            <div>
                            <span class="caption"> Oleh {{ question.user.username }}  {{ question.created_at }}</span>
                            <p class="mt-2"> </p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <p class="text">{{ question.question|safe }}</p>
                        </div>
                        <hr class="divider" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card  full">
            <div class="properties">
                <div class="card-content desc">
                    <div class="comment">
                        <h6 class="use-text-primary use-text-bold mb-3">Dijawab Oleh</h6>
                        <div class="collection border-0">
                            <div class="comments-style">
                                <div class="comment-list">
                                    <div class="collection-item avatar">
                                        <img class="circle" src="{{ answer.author.profile.profile_pic.url }}" alt="John Doe" /> 
                                        <span class="title font-weight-medium">{{ answer.author.profile.full_name }}</span>
                                        <div>
                                        <span class="caption"> {{ answer.created_at|naturaltime }}</span>
                                        <p class="mt-2"> </p>
                                        </div>
                                    </div>
                                    <div class="testimonial-card">
                                        <p class="text">{{ answer.answer|safe }}</p>
                                    </div>
                                    <hr class="divider" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
    
    </div>
</div>
{% endblock %}

