{% extends 'admin/layout/main.html' %}
{% load static %}

{% block content %}
<section id="content" class="content">
    {% if request.user.profile.status_verified == 'Waiting' %}
        <div class="alert alert-info alert-dismissible">
            <h4><i class="icon fa fa-info"></i> Info!</h4>
            Menunggu Verifikasi
        </div>
    
    {% elif request.user.profile.status_verified == 'Verified'  %}
        <div class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> </h4>
            Akun Anda sudah terverifikasi
        </div>
    
    {% else %}
        <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-info"></i> Info!</h4>
            Account anda terdaftar sebagi Viewer.. jika ingin menjadi contributor silahkan lengkapi profile di bawah ini
        </div>
    {% endif %}
    

    <div class="row">
        <div class="col">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="col-12">
                        <div class="card card-widget widget-user-2 shadow-sm">
                            <div class="widget-user-header bg-default">
                                <div class="widget-user-image">
                                    {% if request.user.profile.profile_pic %}
                                    <img class="img-circle elevation-2" src="{{ request.user.profile.profile_pic.url }}" alt="User Avatar">
                                    {% else %}
                                        <img class="img-circle elevation-2" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="User Avatar">
                                    {% endif %}
                                </div>

                                <h3 class="widget-user-username">{{ request.user.profile.full_name }}</h3>
                                <h5 class="widget-user-desc">{{ request.user.profile.profesi }}</h5>
                                <span class="float-right">
                                    <a href="{% url 'update_profile' request.user.profile.id %}" class="btn btn-primary"> Edit Profile</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"></div>
                            <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                                Alamat: <strong>{{ request.user.profile.alamat }}</strong>
                            </div>
                            <div class="mb-2">
                                <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path d="M16 3l0 4"></path><path d="M8 3l0 4"></path><path d="M4 11l16 0"></path><path d="M11 15l1 0"></path><path d="M12 15l0 3"></path></svg>
                                Tanggal Lahir: <strong>{{ request.user.profile.tgl_lahir }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    <h2 class="card-title">About Me</h2>
                    <div>
                        <br>
                        <p>
                            {{request.user.profile.deskirpsi | safe}}
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
</section>

{% endblock  %}